<!doctype html>
<html lang="en">
    <head>
        <title>Pokemon TCG</title>
        <link href="/bootstrap.css" rel="stylesheet"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/watch">Watch List</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/top-ultra">Top Ultra</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/top-secret">Top Secret</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/sets">Card Sets</a>
                </li>
            </ul>
        </nav>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Pokemon TCG | <%= title %></h2>
                </div>
            </div>
        
            <div class="row">
                <div class="col-sm-12">
                    <p style="text-align: center;"><code><%= numCards %> cards</code></p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <% cards.forEach(function(card) { %>
                    <div class="card" style="margin-bottom: 15px;">
                        <div class="card-header">
                            <b><%= card.name %> $<%= card.todaysPrice %></b><br>
                            ID: <%= card.id %> | <%= card.set %> (<%= card.setDate %>)
                        </div>
                        <div class="card-body">
                        <% if (card.buyPrice) { %>
                            <b>Profit: </b>$<%= card.buyPrice %> -> <%= card.todaysPrice %> ($<%= card.dailyChange %> / <% card.dailyPercentage %>%)<br>
                        <% } %>
                        <% if (card.dailyChange) { %>
                            <b>Daily: </b><%= todayString %> $<%= card.dailyChange %> / <%= card.dailyPercentage %>% ($<%= card.yesterdaysPrice %> -> $<%= card.todaysPrice %>)<br>
                        <% } %>
                        <% if (card.weeklyChange) { %>
                            <b>Weekly: </b><%= card.lastWeekDate %> $<%= card.weeklyChange %> / <%= card.weeklyPercentage %>% ($<%= card.lastWeekPrice %> -> $<%= card.todaysPrice %>)<br>
                        <% } %>
                        <% if (card.monthlyChange) { %>
                            <b>Monthly: </b><%= card.lastMonthDate %> $<%= card.monthlyChange %> / <%= card.monthlyPercentage %>% ($<%= card.lastMonthPrice %> -> $<%= card.todaysPrice %>)
                        <% } %>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </body>
</html>